<% if (config.disqus_shortname && page.comments){ %>
<section id="comments" class="article fluid-height">
  <header>
    <h2>Vos réactions</h2>
  </header>

  <div id="disqus_thread"></div>
</section>
<% } %>