<% if (page.cover){ %>
<div class="post-cover">
  <% if (page.cover.hasOwnProperty("link")){ -%><a href="<%= page.cover.link %>" rel="external"><% } %>
  <img src="<%= partial('_cover_url') %>" alt="">
  <% if (page.cover.hasOwnProperty("link")){ %></a><% } %>
</div>
<% } %>