<% if (post.cover){ %>
<div class="post-cover">
  <% if (post.cover.hasOwnProperty("link")){ -%><a href="<%= post.cover.link %>" rel="external"><% } %>
  <img src="<%= partial('../_cover_url', {post: post}) %>" alt="">
  <% if (post.cover.hasOwnProperty("link")){ %></a><% } %>
</div>
<% } %>