<% if (post.cover){ %>
<div class="post-cover__hero post_cover__hero--image" style="background-image: url(<%= coverUrl(post) %>);"></div>
<% } else { -%>
<div class="post-cover__hero post_cover__hero--default"></div>
<% } -%>
