<div class="post-cover">
  <%- partial("_hero", { post: post }) %>

  <div class="post-cover__body">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <% if(typeof archiveType !== 'undefined'){ -%>
          <h1 class="title"><%= archiveType %></h1>

          <p><%= page.posts.length %> articles published so far.</p>
          <% } -%>
        </div>
      </div>
    </div>
  </div>
</div>