<div class="post-cover">
  <%- partial("_hero", { post: post }) %>

  <div class="post-cover__body">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>A blog about <em>Web technologies</em> and <em>human experience</em>.</h2>

          <p>
            <a href="#most-recent">Read the last article</a>,
            <a href="#a-bit-older">jump to the archives</a>
            or <a href="/slash-me/">learn more about the author</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>