<div class="post-cover">
  <%- partial("_hero", { post: post }) %>

  <div class="post-cover__body">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Hello!</h1>

          <h2>Are you interested in Web technologies and human experience?</h2>

          <p>
            If so,
            <a href="#most-recent">read the last article</a>,
            <a href="#article-1">jump to the archives</a>
            or <a href="/slash-me/">learn more about the author</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>