.post {
  .post-header {
    small {
      display: block;
    }
  }

  .post-footer {
    background: @brand-darker;
    color: #fff;
    margin: sqrt(2em) 0;
  }

  .post-actions {
    padding: .75em 0;
  }

  .nav {
    a {
      display: block;
      font-size: 1.25em;
      line-height: 1.75;
      padding: sqrt(2em) 0;
    }

    &.nav-next {
      text-align: right;
    }
  }

  .interactive-loading {
    background: #fff;
    border: 2px solid @gray-light;
    border: 2px solid rgba(51, 51, 51, .5);
    border-radius: 3px;
    color: @gray-light;
    cursor: pointer;
    margin: 1.5em auto;
    text-align: center;

    &::after {
      color: @brand-primary;
      content: "Click/touch to load…";
      line-height: 7;
    }

    &.loading,
    &.loaded {
      border: none;
      background: transparent;
      cursor: default;
      font-size: 0;

      br{
        display: none;
      }

      &::after {
        content: "";
      }
    }
  }
}