<%- partial("_blog/post-cover", { post: page.posts.first() }) %>

<div class="container">
  <div class="row">
    <% page.posts.slice(0, 5).each(function(post){ %>
    <div class="col-sm-12"><%- partial("_blog/post-condensed", {post: post})%></div>
    <% }); %>
  </div>
</div>