<div class="row">
  <% page.posts.each(function(post){ %>
    <%- partial("_partials/post-excerpt", {post: post})%>
  <% }); %>

  <%- partial("_partials/archives-pagination") %>
  <%- partial("_partials/navigation-box") %>
</div>