<%- partial('cover/post', { post: page }) %>

<main class="container" role="main">
    <div class="row">
        <div class="col-sm-12">
            <%- partial("_blog/post-full", { post: page, footer: false }) %>
        </div>
    </div>
</main>



