<%- partial("_blog/post-cover", { post: page })  %>

<div class="container">
    <div class="row">
        <div class="col-sd-12">
            <%- partial("_blog/post-full", { post: page, footer: false }) %>
        </div>
    </div>
</div>



