<%- partial("_blog/post-cover", { post: page })  %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%- partial("_blog/post-full", { post: page }) %>
      <%- partial("_blog/comments", { post: page }) %>
    </div>
  </div>
</div>



