<%- partial('cover/post', { post: page }) %>

<main class="container" role="main">
  <div class="row">
    <div class="col-sm-12">
      <%- partial("_blog/post-full", { post: page }) %>
      <%- partial("_blog/comments", { post: page }) %>
    </div>
  </div>
</main>



